<!--  <suite name="TestNGSuite">
	<test name="test1">
		<classes>
			<class name="cn.gloryroad.FirstTestNGDemo" />
			<class name="cn.gloryroad.TestBaidu" />
		</classes>
	</test>
</suite>
-->

<suite name="GroupingSuite">
	<test name="Grouping">
		<groups>
			<run>
				<include name="动物" />
				<include name="人" />
			</run>
		</groups>
		<classes>
			<class name="cn.gloryroad.Grouping" />
		</classes>
	</test>
</suite>